<div class="nav-container" [ngClass]="{'mobile-state': (isHandset$ | async) }">
  <div class="nav-mobile-toggle" (click)="mobileIconClick()">
    <i class="material-icons">
        apps
    </i>
  </div>
  <div class="nav-mobile" [ngClass]="{'active-menu-mobile': isMobileMenu }">
    <div class="nav-mobile-content" [ngClass]="{ 'active-nav-mobile-content': isMobileMenu }">
      <a href="/" class="nav-comp">
        <i class="material-icons">home</i>
        Trang chủ
      </a>
      <a href="/" class="nav-comp">
        <i class="material-icons">book</i>
        Manga
      </a>
      <a href="/" class="nav-comp">
        <i class="material-icons">category</i>
        Thể loại
      </a>
      <a href="/" class="nav-comp">
        <i class="material-icons">
          supervisor_account
        </i>
        Tác giả / Người dịch
      </a>
      <span class="nav-blank"></span>
      <a href="/" class="nav-comp">
        <i class="material-icons">
          perm_identity
        </i>  
        Đăng nhập
      </a>
    </div>
    <div class="blank" (click)="outsideClick()"></div>
  </div>
  <div class="nav-desktop">
    <a href="/" class="nav-comp header always-visible">
      Acomici
    </a>
    <a href="/" class="nav-comp">
      <i class="material-icons">home</i>
      Trang chủ
    </a>
    <a href="/" class="nav-comp">
      <i class="material-icons">book</i>
      Manga
    </a>
    <a href="/" class="nav-comp">
      <i class="material-icons">category</i>
      Thể loại
    </a>
    <a href="/" class="nav-comp">
      <i class="material-icons">
        supervisor_account
      </i>
      Tác giả / Người dịch
    </a>
    <form class="nav-comp nav-form always-visible" #searchNavBar="ngForm" (ngSubmit)="navSearch()">
      <input placeholder="Tìm kiếm tên manga, tên tác giả, hay tên nhân vật..." name="searchNavBarText" [(ngModel)]="searchNavBarText" type="text">
    </form>
    <a href="/" class="nav-comp">
      <i class="material-icons">
        perm_identity
      </i>  
      Đăng nhập
    </a>
  </div>
</div>
<ng-content></ng-content>
