/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./fontawesome/scss/fontawesome.scss";
// @import "./fontawesome/scss/solid.scss";
@import url('https://fonts.googleapis.com/css?family=Karla&subset=latin-ext');

// Import External Styles
@import url('./Style/shape.scss');      //style for shaping elements
@import url('./Style/image.scss');      //style for image tag <img>
@import url('./Style/text.scss');       //style for text <p> / <span> / ...
@import url('./Style/align.scss');       //style for align items
//
*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
}

body{
    background: cornflowerblue;
}

.container{
    width: 100% !important;   
    position: relative; 
    margin: 0;
    padding: 1rem;
}

.container-fluid{
    width: 100% !important;   
    position: relative; 
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    line-height: 1rem;
    transition: background-color 0.4s;
}

.hidden{
    display: none !important;
}